h1 {      
  padding:10px;
  background-color:#000;
  color:#fff;
}

h2 {      
  padding:10px;
  background-color:#000;
  color:#fff;
}

form {
  margin:0 auto;
}

.txtbox {
  width: 40%;
  border:1px solid #222;  
  background-color: #d3d3d3;
  padding:15px;
  margin:0 auto;
  text-align: left;
}

.icon {
  width: 40px;
}

.hrek {
  color: white;
  text-decoration-line: none;
}

.hrek:hover {
  color: red;
  text-decoration: underline;
}

.sorce{
  color: white;
  font-size: 0.5em;
  text-decoration-line: none;
}

.sorce:hover {
  color: red;
  text-decoration: underline;
}


button {
    margin: 20px;
}

.w-btn {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-outline {
  position: relative;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
}

.w-btn-indigo {
  background-color: skyblue;
  color: white;
}

.w-btn-indigo-outline {
  border: 3px solid skyblue;
  color: white;
}

.w-btn-indigo-outline:hover {
  color: skyblue;
  background: white;
}

footer {
  height: 100px;
  background-color: #002540;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fot img {
  width: 25px;
  height: 25px;
  margin-top: 10px;
}

.icon {
  border-radius: 70%;
  overflow: hidden;
}
