@font-face {
  font-family: 'BMJUA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body, html {
  font-family: 'BMJUA', sans-serif;
  height: 100%;
  margin: 0;
  user-select : none;
}


h1 {      
  padding:10px;
  background-color:#000;
  color:#fff;
}

h2 {      
  padding:10px;
  background-color:#000;
  color:#fff;
}

form {
  margin:0 auto;
}

.txtbox {
  width: 40%;
  border:1px solid #222;  
  background-color: #d3d3d3;
  padding:15px;
  margin:0 auto;
  text-align: left;
}

.header-image  {
  width: 25px;
  height: 25px;
}

.hrek {
  color: white;
  text-decoration-line: none;
}

.hrek:hover {
  color: red;
  text-decoration: underline;
}

.sorce{
  color: white;
  font-size: 0.5em;
  text-decoration-line: none;
}

.sorce:hover {
  color: red;
  text-decoration: underline;
}

.w-btn {
margin: 20px;
position: relative;
border: none;
display: inline-block;
padding: 15px 30px;
border-radius: 15px;
font-family: "paybooc-Light", sans-serif;
box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
text-decoration: none;
font-weight: 600;
transition: 0.25s;
}

.w-btn-indigo {
  background-color: skyblue;
  color: white;
}

.w-btn-indigo:hover {
  color: skyblue;
  background: white;
}

.contributor{
  color: #d7d7d7;
  text-decoration-line: none;
  font-size: 18px
}
footer {
  background-color: #002540;
  padding: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  border-radius: 70%;
  overflow: hidden;
}
